{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load price_range from price_ranges %}
{% load product_first_image from product_images %}
{% load product_first_image_alt from product_images %}
{% load product_availability_schema from jsonld %}
{% load get_thumbnail from product_images %}
{% block content %}

    <div class="home">
      <div class="row">
        <div class="col-sm-12 home__block1">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-12 col-md-6 home__block2">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Size &amp; Colours" context "Homepage title" %}</h1>
                  <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 home__block3">
          <div class="home--square">
            <div class="home--content">
              <div class="home--content-wrapper">
                <div class="home--content-inner">
                  <h1>{% trans "Digital Downloads" context "Homepage title" %}</h1>
                  <a class="btn btn-secondary home__button" href="#">{% trans "Shop now" context "Homepage action" %}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="home__featured">
        <h2 class="text-center">{% trans "Featured products" context "Homepage title" %}</h2>
        <div class="row">
          {% include "category/_items.html" %}
        </div>
      </div>
      
      {% for products_category in products_categories %}
      <div class="home__featured">
        <h2 class="text-center">{{ products_category.name }}</h2>
        <div class="row">
          {% for product, availability in products_category.products %}
          <div class="col-6 col-lg-3 product-list">
            <script type="application/ld+json">
              {% autoescape off %}{% product_availability_schema product %}{% endautoescape %}
            </script>
            <a href="{{ product.get_absolute_url }}" class="link--clean">
              <div class="text-center">
                <div>
                  <img class="img-responsive"
                       src="{% product_first_image product method="crop" size="255x255" %}"
                       srcset="{% product_first_image product method="crop" size="255x255" %} 1x, {% product_first_image product method="crop" size="510x510" %} 2x"
                       alt="{% product_first_image_alt product %}">
                  <span class="product-list-item-name" title="{{ product }}">{{ product }}</span>
                </div>

                <div class="panel-footer">
                  {% if availability.available %}
                    {% price_range availability.price_range %}
                      {% if availability.discount %}
                      {% if availability.price_range_undiscounted.min_price != availability.price_range.min_price %}
                        <div class="product-list__sale">
                          <svg data-src="{% static "images/sale_bg.svg" %}" />
                          <span class="product-list__sale__text">
                            {% comment %}Translators: Layout may break if character length is different than four.{% endcomment %}
                            {% trans "Sale" context "Sale (discount) label for item in product list" %}
                          </span>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% else %}
                    &nbsp;
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>

{% endblock %}
