{% extends "base.html" %}

{% load bootstrap_form from bootstrap3 %}
{% load gross from prices_i18n %}
{% load discount_amount_for from prices %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% blocktrans trimmed context "Payment details page title" %}
        Pay for order {{ order }}
    {% endblocktrans %} — {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    {% if order.user == user %}
    <ul class="breadcrumbs list-unstyled">
        <li><a href="/">
            {% trans "Home" context "Main navigation item" %}
        </a></li>
        <li><a href="{% url "profile:details" %}">
            {% trans "Your account" context "Main navigation item" %}
        </a></li>
        <li><a href="{{ order.get_absolute_url }}">
            {% blocktrans trimmed context "Payment details breadcrumb" %}
                Order {{ order }}
            {% endblocktrans %}
        </a></li>
    </ul>
    {% endif %}
{% endblock breadcrumb %}

{% block content %}
    <div class="row checkout">
        <div class="col-lg-10 offset-lg-1">

           <h3>
                {%trans "Thank you for your order." context "Payment pending text" %}
            </h3>
            <p>
                {% blocktrans trimmed context "Payment pending text" %}
                    Your order <strong> {{ order }} </strong> has been accepted.
                {% endblocktrans %}
            </p>
                
            <p>{%trans "Our employee will contact you soon to confirm your order." context "Payment pending text" %}</p>

            {% include 'order/order-details.html' %}
        </div>
    </div>
{% endblock content %}
